<div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-xl shadow-md w-full max-w-md">
      <h2 class="text-2xl font-bold mb-6 text-center">Reset Password</h2>
      <form class="space-y-4" [formGroup]="resetForm">
        <input type="email" placeholder="Input the email you used to register your account" formControlName="email" class="w-full p-3 border rounded-md" />
        <!-- @if (displayOtherForm) {
            <div class="space-y-4" [formGroup]="otherResetForm">
                <input type="text" placeholder="Token from email" formControlName="token" class="w-full p-3 border rounded-md" />
                <input type="password" placeholder="New password" formControlName="newpassword" class="w-full p-3 border rounded-md" />
           
    
            </div>

        } -->
        <button type="button" (click)="onSubmit()" class="w-full bg-blue-600 text-white p-3 rounded-md hover:bg-blue-700">Reset password</button>

        @if (!spin) {
            <div class="flex justify-center items-center">
                <div class="w-8 h-8 border-4 border-blue-500 border-dashed rounded-full animate-spin"></div>
              </div>

        }
          
        <!-- <button type="button" (click)="onOtherSubmit()" class="w-full bg-blue-600 text-white p-3 rounded-md hover:bg-blue-700">Reset password</button> -->
        <!-- <p class="text-sm text-center mt-4">Don't have an account yet? <a [routerLink]="['/student/signup']" class="text-blue-600">Signup</a></p> -->
      </form>


      <!-- @if (displayOtherForm) {
          <form class="space-y-4" [formGroup]="otherResetForm">
            <input type="email" placeholder="Email" formControlName="email" class="w-full p-3 border rounded-md" />
            <div class="space-y-4">
                <input type="text" placeholder="Token from email" formControlName="token" class="w-full p-3 border rounded-md" />
                <input type="password" placeholder="New password" formControlName="newpassword" class="w-full p-3 border rounded-md" />
    
            </div>
            <button type="button" (click)="onSubmit()" class="w-full bg-blue-600 text-white p-3 rounded-md hover:bg-blue-700">Reset password</button>
          </form>

      } -->

      <p class="text-center py-2 text-red-400">{{errorMessage}}</p>
    </div>
</div>

