@if (showModal) {
    <app-error-modal title="Password Update" message="You have successfully changed your password! Proceed to Signup" (confirm)="onConfirm()" />

}
<div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-xl shadow-md w-full max-w-md">
      <h2 class="text-2xl font-bold mb-6 text-center">Reset Password</h2>
      

      <form class="space-y-4" [formGroup]="resetForm">
        <input type="text" placeholder="Token from email" formControlName="token" class="w-full p-3 border rounded-md" />
        <input type="password" placeholder="New password" formControlName="newpassword" class="w-full p-3 border rounded-md" />
        
        <button type="button" (click)="onSubmit()" class="w-full bg-blue-600 text-white p-3 rounded-md hover:bg-blue-700">Reset password</button>
      </form>

      

      <p class="text-center py-2 text-red-400">{{errorMessage}}</p>
    </div>
</div>

  


